:root{
    --var-flex-wrap: wrap;
}

.page {
    display: flex;
}

.page > {
    padding: 1rem;
}

.sidebar {
    background: var(--color-primary-x-light);
    outline: 1px solid var(--color-primary);
    width: 14rem;
}

body {
    width: 400px;
    height: 400px;
    min-height: unset;
    padding: 2rem;
    border: 1px solid var(--color-stroke);
    background: var(--color-off-white);
    margin: 1rem auto;
}

.page {
    background: white;
    border: 1px solid var(--color-stroke);
    
}

.container{
    display: flex; 
    gap: 2rem;
    writing-mode: vertical-rl;
    flex-direction: column;
}

.behållare{
    display: flex;
    gap: 1rem;
    flex-wrap: var(--var-flex-wrap);
    border: 1px solid var(--color-primary);
    background: var(--color-primary-x-light);
    max-width: 400px;
}